@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Noto+Sans+KR:300,500,700&display=swap&subset=korean');

/* ------------------------ TYPOGRAPHY -------------------------- */

body{
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 300;
   line-height: 20px;
   color:#0d0d0d;
   padding: 60px 0 0;
}
a{
   text-decoration: none;
   color:#0d0d0d;
}
section h2{
   font-family: 'Montserrat', sans-serif;
   font-size:20px;
   text-transform: uppercase;
   text-align: center;
   padding: 20px 0;
}
section h2::before{
   content: '';
   background: #ff0000;
   width: 5px;
   height: 15px;
   display: inline-block;
   margin-right: 10px;
}
.product_name{
   font-weight: 700;
   font-size:14px;
}
.product_price .pay{
   font-size: 12px;
   font-weight: 500;
   color:#2F80ED;
}
.product_price .dispay{
   font-size: 10px;
   font-weight: 300;
}
.product_price .dispay em{
   text-decoration-line: line-through;
}
/* ------------------------ COMMON -------------------------- */
.sub_btn{
   width: 150px;
   height: 40px;
   margin: 0 auto;
   border: 1px solid #bfbfbf;
   display: block;
   text-align: center;
   line-height: 40px;
   font-family: 'Montserrat', sans-serif;
   font-size:14px;
   text-transform: uppercase;
   background: #fff;
   box-sizing: border-box;
}
.call_btn{
   width: 180px;
   height: 40px;
   display: block;
   margin: 20px auto 0;
   background: #0d0d0d;
   font-weight: 500;
   color:#fff;
   text-align: center;
   line-height: 40px;
   font-size:14px;
}
.plv li{
   border-bottom:1px solid #eaeaea;
   border-top:1px solid #eaeaea;
   height: 100px;
   width: 100%;
}
.plv li a{
   display: flex;
   align-items: center;
   height: 100%;
}
.plv li a div{
   margin-left: 10px;
}
.plv li a img{
   width: 80px;
   height: 80px;
   background: none;
}

.plv.active{
   display: flex;
   flex-wrap: wrap;
   text-align: center;
}
.plv.active li{
   width: 50%;
   height: auto;
   padding: 0;
   border:none;
}
.plv.active li a{
   display: flex;
   flex-wrap: wrap;
}
.plv.active li a img{
   width: 100%;
   height: auto;
   background: #fafafa;
}
.plv.active div{
   height: 80px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border:1px solid #fafafa;
   margin: 0 auto;
   padding:0 30px;
}
.primary_btn{
   width: 100%;
   height: 40px;
   line-height: 40px;
   font-weight: 700;
   color:#fff;
   display: block;
   background: #2F80ED;
   text-align: center;
   margin: 0 auto;
   text-transform: uppercase;
   font-size: 14px;
}
/* ------------------------ HEADER -------------------------- */
.header_nav{
   display: flex;
   background: #0d0d0d;
   height: 60px;
   line-height: 60px;
   position: fixed;
   z-index: 200;
   top: 0; right: 0; left: 0; 
}
.header_nav a{
   color:#fff;
}
.hamburger{
   flex:1;
   position: relative;
   cursor: pointer;
}
.hamburger div{
   position: absolute;
   top: 50%; left: 50%;
   transform: translate(-50%, -50%);
}
.hamburger span{
   width: 30px;
   height: 2px;
   display: block;
   background: #fff;
   margin-bottom: 10px;
   transform-origin: 50%;
}
.hamburger span:last-of-type{
   margin-bottom: 0;
}
.hamburger.active div{
   left: 25%;
}
.hamburger.active span{
   position: absolute;
}
.hamburger.active span:first-child{
   transform: rotate(-45deg);
}
.hamburger.active span:last-child{
   transform: rotate(45deg);
}
.hamburger.active span:nth-child(2){
   display: none;
}
.logo{
   flex: 3;
   background: #fff;
}
.logo a{
   background: url(../images/logo@2x.png) no-repeat center center/80%;
   display: block;
   width: 100%;
   text-indent: -9999em;
}
.main-search, .main-cart{
   flex:1;
   text-align: center;
   font-size:20px;
}
.main-search em{
   display: none;
}
.main-search.close .fa-search{ 
   display: none;
}
.main-search.close em{
   display: inline-block;
}
.main-cart a{
   position: relative;
}
.main-cart a span{
   position: absolute;
   right: -7px; top: 0;
   line-height: 15px;
   font-size:10px;
   width: 15px;
   height: 15px;
   background: #2F80ED;
   border-radius: 50%;
}
/* ------------------------ ASIDE -------------------------- */
aside{
   position: fixed;
   top: 60px; bottom: 0; right: 0; left: 0;
   visibility: hidden;
   z-index: 200;
}
aside.active{
   visibility: visible;
}
aside .inner{
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   background: rgba(255,255,255,0.8);
   opacity: 0;
   transition: 0.5s;
}
aside .sidemenu{
   position: absolute;
   top: 0; left: -100%; bottom: 0;
   width: 90%;
   background: #0d0d0d;
   transition: 0.5s;
   height: 100%;
}
aside.active .inner{
   opacity: 1;
}
aside.active .sidemenu{
   left: 0;
}
.sidemenu .top{
   border-bottom:1px solid #6F6F6F;
}
.sidemenu .top ul{
   display: flex;
   justify-content: space-between;
}
.sidemenu .top ul li{
   flex:1;
   text-align: center;
   height: 40px;
   line-height: 40px;
}
.sidemenu .top a{
   display: block;
   color:#fff;
   font-size:14px;
   font-weight: 500;
}
.sidemenu .content{
   text-transform: uppercase;
   padding: 20px 30px 0;
   position: absolute;
   height: auto;
   left: 0; right: 0; top: 40px; bottom: 40px;
   overflow-y: auto;
}
.sidemenu .content h2{
   color:#ff0000;
   font-size: 20px;
   font-weight: 700;
   font-family: 'Montserrat', sans-serif;
   cursor: pointer;
   outline: none;
   margin-bottom: 20px;
}
.sidemenu .content h2:focus{
   opacity: 0.6;
}
.sidemenu .content li li{
   margin: 0 0 20px;
}
.sidemenu .content li a{
   font-size: 12px;
   font-weight: 300;
   color: #fff;
}
.sidemenu .bottom {
   background: #202020;
   height: 50px;
   line-height: 50px;
   position: absolute;
   bottom: 0; right: 0; left: 0;
}
.sidemenu .bottom ul{
   display: flex;
}
.sidemenu .bottom li{
   width: 100%;
   text-align: center;
}
.sidemenu .bottom li a{
   color:#fff;
   font-size:14px;
   font-weight: 700;
   display: block;
}
/* ------------------- SEARCH -------------------------- */
.main_search_modal{
   background: #fefefe;
   height: 100px;
   border-radius: 0px 0px 10px 10px;
   padding: 35px 0;
   box-sizing: border-box;
   position: fixed;
   top: 60px; right: 0; left: 0;
   z-index: 150;
   display: none;
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.main_search_modal form{
   width: 80%;
   margin: 0 auto;
   position: relative;
}
.main_search_modal form input{
   width: 100%;
   height: 30px;
   box-sizing: border-box;
   border: 1px solid #0d0d0d;
   padding: 0 30px;
}
.main_search_modal form button{
   position: absolute;
   top: 0; left: 0; bottom: 0;
   border: none;
   background: none;
   font-size:14px;
   line-height: 30px;
   outline: none;
}
.main_search_modal form button:focus svg{
   color: #ff0000;
}
/* ------------------------ BANNER -------------------------- */
.banner {
   position: relative;
}
.banner img{
   width: 100%;
   height: auto;
}
.banner .bx-pager{
   position: absolute;
   display: flex;
   left: 50%;
   bottom: 20px;
   transform: translateX(-50%);
}
.banner .bx-pager .bx-pager-item{
   margin: 0 2.5px;
}
.banner .bx-pager .bx-pager-item .bx-pager-link{
   text-indent: -9999em;
   display: block;
   background: #fff;
   width: 10px;
   height: 5px;
   transition: 0.5s;
}
.banner .bx-pager .bx-pager-item .bx-pager-link.active{
   background: #ff0000;
   transform: scaleX(2);
   margin: 0 5px;
}

/* ------------------------ MAIN -------------------------- */
.season .sub_btn{
   margin: 20px auto 40px;
}
.season_list li div{
   padding: 10px 45px 20px;
   text-align: center;
}
.season_list li div h3{
   font-weight: 500;
   font-size: 14px;
   text-transform: uppercase;
   margin-bottom: 10px;
}
.season_list li div{
   font-size:12px;
   font-weight: 300;
}
.season_list img{
   width: 100%;
   height: auto;
}
/* sns */
.sns iframe{
   width: 100%;
   height: 180px;
}
.sns_list{
   display: flex;
   justify-content: center;
}
.sns_list li{
   margin: 20px 10px;
}
.sns_list li a{
   color:#fff;
   font-size: 20px;
   display: inline-block;
   width: 40px; height: 40px;
   border-radius: 50%;
   text-align: center;
   line-height: 40px;
}
.sns_list li .facebook{
   background: #3D5B9B;
}
.sns_list li .instagram{
   background: linear-gradient(180deg, #9B51E0 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FF1AE8 0%, rgba(255, 255, 255, 0) 100%), #F2994A;
}
.sns_list li .youtube{
   background: #ff0000;
}
/* ------------------------ FOOTER -------------------------- */
footer p{
   font-size: 10px;
   font-weight: 300;
}
.callcenter{
   background: #f6f6f6;
   padding:20px 0;
   text-align: center;
}
.callcenter h3{
   font-size: 12px;
   margin-bottom: 10px;
}
.adress{
   padding: 30px 0;
   text-align: center;
}
.adress .top{
   margin-bottom: 20px;
}
.copyright{
   width: 100%;
   height: 40px;
   background: #0d0d0d;
   color:#fff;
   text-align: center;
   line-height: 40px;
}
/* ------------------------ SUB-PRODUCT LIST -------------------------- */
.sub-product_list .product_title{
   width: 100%;
   height: 40px;
   line-height: 40px;
   text-align: center;
   font-size:20px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   color:#ff0000;
   background: #0d0d0d;
   text-transform: uppercase;
}
.sub-product_list > h3{
   font-size: 18px;
   font-weight: 500;
   margin: 40px 0;
   text-align: center;
   text-transform: uppercase;
}
.product_top{
   width: 100%;
   height: 30px;
   padding: 0 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top:1px solid #eaeaea;
   box-sizing: border-box;
}
.product_filter input, .product_view input{
   display: none;
}
.product_filter label{
   font-size:10px;
   font-weight: 500;
   color:#bfbfbf;
   margin-right: 3px;
}
.product_filter input:checked + label{
   color:#0d0d0d;
}
.product_view label{
   font-size: 20px;
   color:#bfbfbf;
   margin-left: 5px;
}
.product_view input:checked + label{
   color:#0d0d0d;
}
/* ------------------------ SUB-DETAIL -------------------------- */
.sub-detail .top{
   margin: 40px 0;
   padding: 0 30px;
}
.sub-detail .top h2{
   font-size:20px;
   font-weight: 700;
   margin-bottom: 10px;
}
.sub-detail .top .review{
   display: flex;
   margin-bottom: 10px;
}
.sub-detail .top .review p:first-child{
   font-size:15px;
   color:#ff0000;
}
.sub-detail .top .review p:last-child{
   font-size: 10px;
   font-weight: 500;
   margin-left: 10px;
}
.sub-detail .top .price{
   display: flex;
}
.sub-detail .top .price h3{
   font-size:18px;
   font-weight: 500;
   color:#2F80ED;
   margin-right: 5px;
}
.sub-detail .top .price p{
   font-weight: 300;
   font-size:10px;
}
.sub-detail .top .price p em{
   text-decoration-line: line-through;
}
.sub-detail .content img{
   width: 100%;
   height: auto;
   background: #fafafa;
   margin-bottom: 40px;
}
.sub-detail .content h4{
   font-size: 14px;
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   margin-bottom: 20px;
   text-align: center;
}
.sub-detail .content .color form{
   display: flex;
   justify-content: center;
}
.sub-detail .content .color input{
   display: none;
}
.sub-detail .content .color input:checked + label::after{
   content: '';
   position: absolute;
   top: 0; left: 0; right: 0; bottom: 0;
   border: 3px solid rgba(0,0,0,.5);
   border-radius: 50%;
}
.sub-detail .content .color label{
   margin: 0 5px 30px;
   text-indent: -9999em;
   width: 30px; height: 30px;
   border-radius: 50%;
   position: relative;
}
.sub-detail .content .color .blue{
   background: #2F80ED;
}
.sub-detail .content .color .khaki{
   background: #494833;
}
.sub-detail .content .color .navi{
   background: #01003E;
}
.sub-detail .content .color .orange{
   background: #F2994A;
}
.sub-detail .content .size ul{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 40px;
   width: 100%;
}
.sub-detail .content .size li{
   width: 50px;
   height: 40px;
   text-align: center;
   border:1px solid #eaeaea;
   line-height: 40px;
   box-sizing: border-box;
}
.sub-detail .content .size li a{
   display: block;
   font-size:14px;
   font-family: 'Montserrat', sans-serif;
}
.sub-detail .content .size li a:active{
   background: #2F80ED;
   color:#fff;
}
.sub-detail hr{
   width: 90%;
   margin: 0 auto;
   border:1px dashed #eaeaea;
}
.sub-detail .payment{
   width: 90%;
   padding:20px;
}
.sub-detail .payment .amount{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}
.sub-detail .payment .amount .amount_title h5{
   font-size: 14px;
   font-weight: 500;
}
.sub-detail .payment .amount .amount_title p{
   font-size: 10px;
   font-weight: 300;
}
.sub-detail .payment .amount .amount_title p span:after{
   content: ' | ';
}
.sub-detail .payment .amount .amount_title p span:last-child:after{
   content: none;
}
.sub-detail #amount_count-button, .sub-detail .payment .amount select{
   width: 75px;
   height: 35px;
   box-sizing: border-box;
   background: #fff;
   color:#0d0d0d;
   padding: 0 10px;
   font-size: 12px;
   font-weight: 300;
   display: block;
   border:1px solid #eaeaea;
   line-height: 35px;
}
/* .sub-detail .ui-selectmenu-icon{
   background: url(../images/sellect_arrow.png) no-repeat center center/100%;
   width: 12px;
   height: 12px;
}
.ui-selectmenu-menu .ui-state-hover .ui-icon{
   background-image: url(../images/sellect_arrow2.png);
}
.ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper{
   padding: 10px;
   
}
.ui-selectmenu-menu .ui-widget.ui-widget-content{
   padding:10px 0;
   font-size: 12px;
   font-weight: 300;
   display: inline-block;
   border:1px solid #eaeaea;
   background: #fff;
   border-radius: 0px 0px 5px 5px;
}
.ui-selectmenu-menu .ui-menu-item:hover{
   border:none;
   background: #2F80ED;
   color:#fff;
} */
.sub-detail .paytotal{
   padding: 20px 0 40px;
   border-top: 3px solid #6f6f6f;
}
.sub-detail .paytotal .total{
   display: flex;
   justify-content: space-between;
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 40px;
}
.sub-detail .paytotal .total p:first-child{
   font-size: 18px;
}
.sub-detail .paytotal .total p:last-child{
   font-size: 20px;
   color:#2F80ED;
}
.sub-detail .paytotal .buy > .primary_btn{
   margin-bottom: 10px;
}
.sub-detail .paytotal .buy div{
   display: flex;
}
.sub-detail .paytotal .buy div .sub_btn{
   margin: 0 0 0 10px;
}
.sub-detail .paytotal .buy div .sub_btn:first-child{
   margin: 0;
}
.dtaile_dec{
   border-top: 1px solid #bfbfbf;
}
.dtaile_dec .dtaile_dec_text{
   font-size: 10px;
   font-weight: 300;
   text-align: center;
   padding: 20px 0;
}
.dtaile_dec .dtaile_dec_text p:first-child{
   margin-bottom: 20px;
}
.dtaile_dec .dtaile_dec_slide img{
   width: 100%;
   
}
.dtaile_dec .bx-wrapper{
   position: relative;
}
.dtaile_dec .bx-pager{
   position: absolute;
   bottom: 10px; left: 50%;
   transform: translateX(-50%);
   display: flex;
}
.dtaile_dec .bx-pager .bx-pager-link{
   text-indent: -9999em;
   border-radius: 50%;
   display: inline-block;
   background: #bfbfbf;
   width: 10px;
   height: 10px;
   margin: 0 2.5px;
}
.dtaile_dec .bx-pager .bx-pager-link.active{
   background: #ff0000;
}
/* ------------------------ SUB-SEARCH -------------------------- */
.search_title h2{
   font-size:20px;
   font-weight: 300;
   text-align: center;
   margin: 40px 0;
}
.search_title h2 span, .search_title h2 em{
   font-weight: 700;
}
.search_title h2 em{
   color:#ff0000;
}
.sub-search_option{
   display: flex;
   justify-content: space-between;
}
.sub-search_option .relation{
   display: flex;
   width: 80%;
   font-size: 12px;
   height: 40px;
   background: #f6f6f6;
   line-height: 40px;
   padding: 0 20px;
}
.sub-search_option .relation *{
   margin-right: 10px;
}
.sub-search_option .relation h3{
   font-weight: 500;
}
.sub-search_option .filter{
   width: 20%;
   height: 40px;
   line-height: 40px;
   text-align: center;
   font-size: 12px;
   font-weight: 500;
   background: #2F80ED;
}
.sub-search_option .filter a{
   color:#fff;
   display: block;
}
.sub-search_option .filter a svg{
   margin-left: 5px;
}